<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPad3,4_8.4_12H143_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-15935-139.dmg</string>
			<key>IV</key>
			<string>f38351d8ecdceb38b4d553b5a4cd2633</string>
			<key>Key</key>
			<string>29276f6c660672dd31051cec9d24de89ef8e2738cf1d66d988a928ed1aed09f6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.p101ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/DeviceTree.p101ap.img3</string>
			<key>IV</key>
			<string>c39e942f236454e4bc6547e2d57a744e</string>
			<key>Key</key>
			<string>9d3b5ca843e05d6eb22da19fb9b2c92f7ff838e272b08a90c4c0e07650183da6</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.p101</string>
			<key>File</key>
			<string>kernelcache.release.p101</string>
			<key>IV</key>
			<string>aacfe676cbc8649be7192855cbe065eb</string>
			<key>Key</key>
			<string>701d9339e45634a2c9c51833d6a600126d1434cdfb38e60ff5a813f232b959e7</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.p101ap.production/applelogo@2x~ipad.s5l8955x.img3</string>
			<key>IV</key>
			<string>73636b35538ca4de2f4f32170db6ad90</string>
			<key>Key</key>
			<string>c45c1bf48903f6c6ca9632f4254bef97b87ffd689aea71090023bf41c139230f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>7098e97619a8abfe312c4e9a1c813b03</string>
			<key>Key</key>
			<string>43fa6264a7cf37a80683c5991559119cc3ff34a434cba46468a82435f527409f</string>
			<key>Patch</key>
			<string>iBEC.p101.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.p101.RELEASE.dfu</string>
			<key>IV</key>
			<string>20982806ac37c61b573b3b289c5e2783</string>
			<key>Key</key>
			<string>36e920c2716e37041337cdd6f222b8f6a73e7f054566f9ccbfa93258feb25b1b</string>
			<key>Patch</key>
			<string>iBSS.p101.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPad3,4_8.4_12H143</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.p101.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-15761-139.dmg</string>
	<key>RootFilesystemKey</key>
	<string>3ce76f77b471ac0bc4d36318b3333b33ffad79bf8b4c2fe26b9443280c1af04aac970922</string>
	<key>RootFilesystemMountVolume</key>
	<string>Copper12H143</string>
	<key>RootFilesystemSize</key>
	<integer>2198</integer>
	<key>SHA1</key>
	<string>05cc2074bfd943ccb77f9c98662432ef5c391814</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
